.solapa {
    position: relative;
}

.texto_solapa {
    position: relative;
    border: solid white;
    border-radius: 50px;
    padding: 50px;
    top: -150px;
    background-color: rgb(40, 40, 75);
    z-index: 10;
}

.texto_solapa,
.texto-container {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.imagen_solapa{
    padding-top: 100px;
}



@media (max-width: 1402px) {
    .texto_solapa {
        top: -130px;
    }

}

@media (max-width: 1200px) {
    .texto_solapa {
        top: -110px;
    }
    .imagen_solapa{
        padding-top: 90px;
    }
}

@media (max-width: 991px) {
    .texto_solapa {
        top: -80px;
    }
    .imagen_solapa{
        padding-top: 70px;
    }
}

@media (max-width: 767px) {
    .texto_solapa {
        top: -120px;
    }
    .imagen_solapa{
        padding-top: 0px;
    }
}

@media (max-width:530px) {
    .texto_solapa {
        top: -100px;
    }
}

@media (max-width:425px) {
    .texto_solapa {
        top: -70px;
    }
}