
@font-face {
    font-family: 'Arial Narrow Bold Italic';
    src: url('../assets/fonts/5632-font.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  a,
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Arial Narrow Bold Italic';
  }



.noticia-container {
    display: flex;
    flex-direction: column;
    align-items: start;
width: 100%;

}

.texto_noticia {
    position: relative;
    min-height: 40vh;
    height: auto;
    z-index: 2;
    top: -70px;
    border-radius: 30px;
    border: solid 2px white;
    padding: 30px;
    background-color: rgb(40, 40, 75);
    width: 100%;

    
}

.texto_noticia h3{
text-align: center;
color: rgb(201, 176, 34);

}

.fecha_noticia {
    background-color: grey;
    color: black;
    padding: 15px 20px 0px 20px;
    height: 120px;
    z-index: -1;
    border-radius: 30px;
    width: auto;
   

    display: flex;
    /* Activa Flexbox para alinear elementos */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: flex-start;
    /* Alinea el contenido en la parte superior verticalmente */
}
.titulo-logo .img-fluid {
    margin-bottom: 20px;
    /* Espacio debajo del logo */
    height: 30vh;
  }