/*--------------------------------------------------------------
# Quienes somos
--------------------------------------------------------------*/


.container {
  display: grid;
}

.titulo-logo .img-fluid {
  margin-bottom: 20px;
  /* Espacio debajo del logo */
  height: 30vh;
}

.texto-container {
  max-width: 100%;
  /* Asegurar que el contenedor de texto ocupe el ancho permitido */
  border: solid 2px white;
  border-radius: 50px;
  
  

}

.texto-container h3 {
  text-align: center;
  padding-bottom: 20px;
  color: rgb(201, 176, 34);
  
}


.img-container img {
  width: 100%;
  height: auto;
  z-index: 2;
  scale: 1.1;
  
}


.quienesSomos {
  padding-bottom: 50px;
}





/* Pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Estilos para pantallas entre 769px y 992px */

  
.imgQuienes_background {
 
  width: 100px;
 right: 13px;


}
}
  
p{
  text-align: justify;
}

